div.image-container-mainpage
  div.backdrop
  div.text
    | MEER
    span.primary-color W
    | UGAL
      
  img(src="/image/panda.jpg").main-page
  include ../_partials/carrot.html

section.start
  div.piggy-icon
    img(src="/image/icon.jpg")
    
  div.container
    div.row
      div.col

section.start
  div.piggy-icon
    img(src="/image/icon.jpg")
      
  div.container
    div.row
      div.col
        
section.start
  div.piggy-icon
    img(src="/image/icon.jpg")
      
  div.container
    div.row
      div.col
