div.image-container-mainpage
  div.backdrop
  div.text
    | MEER
    span.primary-color W
    | UGAL
      
  img(src="/image/panda.jpg").main-page
  include ../_partials/carrot.html

section.start
  div.container
    div.icon-container
      div.row
        div.col
          div.piggy-icon.gismo(data-filter=".gismo" title="Gismo")
            
        div.col
          div.piggy-icon.krumel(data-filter=".krumel" title="Krümel")
            
        div.col
          div.piggy-icon.lucy(data-filter=".lucy" title="Lucy")
            
        div.col
          div.piggy-icon.luna(data-filter=".luna" title="Luna")
            
        div.col
          div.piggy-icon.lyn(data-filter=".lyn" title="Lyn")
            
        div.col
          div.piggy-icon.panda(data-filter=".panda" title="Panda")
            
        div.col
          div.piggy-icon.paula(data-filter=".paula" title="Paul")
            
        div.col
          div.piggy-icon.sheela(data-filter=".sheela" title="Sheela")
      div.row
        div.col.text-center
          span.show-all-grid All Piggies
        
      
    div.row
      div.col
          div.picture-grid
            div.grid-item.gismo(data-src="/image/IMG_0063.JPG" style="height:100px")
              img.lazyload(data-src="/image/IMG_0063.JPG")
                
            div.grid-item.lucy(data-src="/image/IMG_0092.JPG" style="height:100px")
              img.lazyload(data-src="/image/IMG_0092.JPG")
                
            div.grid-item.gismo(data-src="/image/IMG_0126.JPG" style="height:100px")
              img.lazyload(data-src="/image/IMG_0126.JPG")
                
            div.grid-item.panda(data-src="/image/IMG_0307.JPG" style="height:100px")
              img.lazyload(data-src="/image/IMG_0307.JPG")
                
            div.grid-item.lucy(data-src="/image/IMG_0542.JPG" style="height:100px")
              img.lazyload(data-src="/image/IMG_0542.JPG")
                
            div.grid-item.panda(data-src="/image/IMG_2203.JPG" style="height:100px")
              img.lazyload(data-src="/image/IMG_2203.JPG")
                
            div.grid-item.panda(data-src="/image/IMG_2237.JPG" style="height:100px")
              img.lazyload(data-src="/image/IMG_2237.JPG")
                
            div.grid-item.sheela(data-src="/image/IMG_2481.JPG" style="height:100px")
              img.lazyload(data-src="/image/IMG_2481.JPG")
            div.grid-item.gismo(data-src="/image/IMG_0063.JPG" style="height:100px")
              img.lazyload(data-src="/image/IMG_0063.JPG")
                
            div.grid-item.lucy(data-src="/image/IMG_0092.JPG" style="height:100px")
              img.lazyload(data-src="/image/IMG_0092.JPG")
                
            div.grid-item.gismo(data-src="/image/IMG_0126.JPG" style="height:100px")
              img.lazyload(data-src="/image/IMG_0126.JPG")
                
            div.grid-item.panda(data-src="/image/IMG_0307.JPG" style="height:100px")
              img.lazyload(data-src="/image/IMG_0307.JPG")
                
            div.grid-item.lucy(data-src="/image/IMG_0542.JPG" style="height:100px")
              img.lazyload(data-src="/image/IMG_0542.JPG")
                
            div.grid-item.panda(data-src="/image/IMG_2203.JPG" style="height:100px")
              img.lazyload(data-src="/image/IMG_2203.JPG")
                
            div.grid-item.panda(data-src="/image/IMG_2237.JPG" style="height:100px")
              img.lazyload(data-src="/image/IMG_2237.JPG")
                
            div.grid-item.sheela(data-src="/image/IMG_2481.JPG" style="height:100px")
              img.lazyload(data-src="/image/IMG_2481.JPG")
            div.grid-item.gismo(data-src="/image/IMG_0063.JPG" style="height:100px")
              img.lazyload(data-src="/image/IMG_0063.JPG")
                
            div.grid-item.lucy(data-src="/image/IMG_0092.JPG" style="height:100px")
              img.lazyload(data-src="/image/IMG_0092.JPG")
                
            div.grid-item.gismo(data-src="/image/IMG_0126.JPG" style="height:100px")
              img.lazyload(data-src="/image/IMG_0126.JPG")
                
            div.grid-item.panda(data-src="/image/IMG_0307.JPG" style="height:100px")
              img.lazyload(data-src="/image/IMG_0307.JPG")
                
            div.grid-item.lucy(data-src="/image/IMG_0542.JPG" style="height:100px")
              img.lazyload(data-src="/image/IMG_0542.JPG")
                
            div.grid-item.panda(data-src="/image/IMG_2203.JPG" style="height:100px")
              img.lazyload(data-src="/image/IMG_2203.JPG")
                
            div.grid-item.panda(data-src="/image/IMG_2237.JPG" style="height:100px")
              img.lazyload(data-src="/image/IMG_2237.JPG")
                
            div.grid-item.sheela(data-src="/image/IMG_2481.JPG" style="height:100px")
              img.lazyload(data-src="/image/IMG_2481.JPG")
