div.image-container-mainpage
  div.backdrop
  div.text
    span.primary-color W
    | UGAL
      
  img(src="/image/panda.jpg").main-page
  include ../_partials/carrot.html

section.start
  div.container            
    .row.image-grid
      .col-lg-3.col-md-6
        a(data-src="/image/IMG_0063.JPG") 
          img.img-fluid.wow.fadeInUp(src='/image/IMG_0063.JPG')
        a(data-src="/image/IMG_2481.JPG") 
          img.img-fluid.wow.fadeInUp(src='/image/IMG_2481.JPG')
        a(data-src="/image/IMG_2203.JPG") 
          img.img-fluid.wow.fadeInUp(src='/image/IMG_2203.JPG')
        a(data-src="/image/IMG_0307.JPG") 
          img.img-fluid.wow.fadeInUp(src='/image/IMG_0307.JPG')
      .col-lg-3.col-md-6
        a(data-src="/image/IMG_0092.JPG") 
          img.img-fluid.wow.fadeInUp(src='/image/IMG_0092.JPG')
        a(data-src="/image/IMG_2237.JPG") 
          img.img-fluid.wow.fadeInUp(src='/image/IMG_2237.JPG')
        a(data-src="/image/IMG_0126.JPG") 
          img.img-fluid.wow.fadeInUp(src='/image/IMG_0126.JPG')
        a(data-src="/image/IMG_2272.JPG") 
          img.img-fluid.wow.fadeInUp(src='/image/IMG_2272.JPG')
      .col-lg-3.col-md-6
        a(data-src="/image/IMG_1799.JPG") 
          img.img-fluid.wow.fadeInUp(src='/image/IMG_1799.JPG')
        a(data-src="/image/IMG_0202.JPG") 
          img.img-fluid.wow.fadeInUp(src='/image/IMG_0202.JPG')
        a(data-src="/image/IMG_0028.JPG") 
          img.img-fluid.wow.fadeInUp(src='/image/IMG_0028.JPG')
        a(data-src="/image/IMG_2489.JPG") 
          img.img-fluid.wow.fadeInUp(src='/image/IMG_2489.JPG')
      .col-lg-3.col-md-6
        a(data-src="/image/IMG_3275.JPG") 
          img.img-fluid.wow.fadeInUp(src='/image/IMG_3275.JPG')
        a(data-src="/image/IMG_3257.JPG") 
          img.img-fluid.wow.fadeInUp(src='/image/IMG_3257.JPG')
        a(data-src="/image/IMG_3029.JPG") 
          img.img-fluid.wow.fadeInUp(src='/image/IMG_3029.JPG')
        a(data-src="/image/IMG_2952.JPG") 
          img.img-fluid.wow.fadeInUp(src='/image/IMG_2952.JPG')
