div.image-container-mainpage
  div.backdrop
  div.text
    | MEER
    span.primary-color W
    | UGAL
      
  img(src="/image/panda.jpg").main-page
  include ../_partials/carrot.html

section.start
  div.container
    div.icon-container
      div.row
        div.col
          div.piggy-icon.gismo(data-filter=".gismo" title="Gismo")
            
        div.col
          div.piggy-icon.krumel(data-filter=".krumel" title="Krümel")
            
        div.col
          div.piggy-icon.lucy(data-filter=".lucy" title="Lucy")
            
        div.col
          div.piggy-icon.luna(data-filter=".luna" title="Luna")
            
        div.col
          div.piggy-icon.lyn(data-filter=".lyn" title="Lyn")
            
        div.col
          div.piggy-icon.panda(data-filter=".panda" title="Panda")
            
        div.col
          div.piggy-icon.paula(data-filter=".paula" title="Paul")
            
        div.col
          div.piggy-icon.sheela(data-filter=".sheela" title="Sheela")
      div.row
        div.col.text-center
          span.show-all-grid All Piggies
        
      
    .row.image-grid
      .col-lg-3.col-md-6
        img.img-fluid.wow.fadeInUp.gismo(src='/image/IMG_0063.JPG')
        img.img-fluid.wow.fadeInUp.lucy(src='/image/IMG_0092.JPG')
        img.img-fluid.wow.fadeInUp.gismo(src='/image/IMG_0126.JPG')
        img.img-fluid.wow.fadeInUp.panda(src='/image/IMG_0307.JPG')
      .col-lg-3.col-md-6
        img.img-fluid.wow.fadeInUp.lucy(src='/image/IMG_0092.JPG')
        img.img-fluid.wow.fadeInUp.gismo(src='/image/IMG_0063.JPG')
        img.img-fluid.wow.fadeInUp.gismo(src='/image/IMG_0126.JPG')
        img.img-fluid.wow.fadeInUp.panda(src='/image/IMG_0307.JPG')
      .col-lg-3.col-md-6
        img.img-fluid.wow.fadeInUp.panda(src='/image/IMG_0307.JPG')
        img.img-fluid.wow.fadeInUp.gismo(src='/image/IMG_0063.JPG')
        img.img-fluid.wow.fadeInUp.lucy(src='/image/IMG_0092.JPG')
        img.img-fluid.wow.fadeInUp.gismo(src='/image/IMG_0126.JPG')
      .col-lg-3.col-md-6
        img.img-fluid.wow.fadeInUp.gismo(src='/image/IMG_0126.JPG')
        img.img-fluid.wow.fadeInUp.gismo(src='/image/IMG_0063.JPG')
        img.img-fluid.wow.fadeInUp.lucy(src='/image/IMG_0092.JPG')
        img.img-fluid.wow.fadeInUp.panda(src='/image/IMG_0307.JPG')
