div.image-container-mainpage
  div.backdrop
  div.text 
    span.primary-color M
    | eet the 
    span.primary-color O
    | wner
      
  img(src="/image/IMG_3275.JPG").main-page
  include ../_partials/carrot.html

div.container.sub-owner
    div.row
        div.col-md-12.profile.text-center
            img(src="/image/sub/dominik.jpg")
            h2 Gurkenspender
            h4 und Web Developer
            
            p Hat Meersau als Verstand.
            p Versklavt um auf Ewigkeit Gurken zu schneiden.
            p Besitzt Meerschweinchen seit 6+ Jahren.
            p Lebt mit insgesamt 5 Meerschweinchen in der Steiermark. <br>Ist wahrscheinlich fauler als die Schweine selbst.
            p Liebt seine Wugal, Games und ist ein Fan von der japanischen Kultur.
            p 
                b Follow him <br>
                a(href="https://www.facebook.com/fuchs1993" target="_blank")
                    i.fa.fa-facebook &nbsp;&nbsp;
                a(href="mailto:dominikfux@gmx.at")
                    i.fa.fa-envelope
