div.container.sub
    div.row
        div.col-md-12
            h2 Meet the Piggies
            
    div.row#flynn
        div.col-md-4
            a(data-src="/image/sub/IMG_3906.JPG") 
              img.img-fluid.wow.bounceInLeft(src='/image/sub/IMG_3906_thumb.JPG')
        
        div.col-md-8
            h3 Fynn der Schüchtene
            p Er ist der neueste im Harem und hat das Erbe von Panda und Krümel übernommen. Fynn ist zwar der kleinste in der Gruppe jedoch weiß er seine Männlichkeit auszuspielen. Sein Charakter entwickelt sich noch, jedoch merkt man schon deutlich das er am liebsten die Mädels auf Trab hält und durch die Gegend brommselt. Fynn ist der kleine Sonnenschein der Gruppe. Er wurde von einer Notstation aufgenommen.
        
    div.row#gismo
        div.col-md-8
            h3 Gismo der Gelassene
            p Das süßeste Meerschweinchen das die Welt je sehen durfte. Leider war Gismo immer ein sehr krankes Meerschweinchen, da er die Narkose von der Kastration nicht gut vertrug. Er lebte die meiste Zeit mit Nierenprobleme, zusammen mit Panda in einer Böckchengruppe und verstarb nach 3 Jahren. 
            p Gismo lernte Panda, Darius und Krümel kennen. Wobei Krümels Vergesellschaftung in die Böckchengruppe aufgrund von Pandas Sturrheit nicht erfolgreich war.
            p Er war ein sehr handzahmes Meerschweinchen was auf seine ständige Pflege aufgrund seiner Krankheiten zurückzuführen war.
            p Sein Lieblingsfutter waren immer wasserhaltiges Gemüse. Gurken, Paprika und Salat.
            p Gismo wurde leider von einer Tierhandlung gekauft.
            
        div.col-md-4
            a(data-src="/image/sub/IMG_0202.JPG") 
              img.img-fluid.wow.bounceInRight(src='/image/sub/IMG_0202_thumb.JPG')
                  
    div.row#gismo
      div.col-md-4
          a(data-src="/image/sub/IMG_2632.JPG") 
            img.img-fluid.wow.bounceInRight(src='/image/sub/IMG_2632_thumb.JPG')
          
      div.col-md-8
          h3 Krümel der Merkwürdige
          p Krümel war vermutlich eine lange Zeit alleine, bevor ich ihn übernommen hatte und das hat sichtlich an seinem Verhalten gezeigt.
          p Er verstarb leider, ähnlich wie Gismo, an Nacheffekte von seiner Narkose aufgrund einer Blasenstein-OP
          p Er besaß kein Lieblingsfutter und wurde auch aus einer Tierhandlung gekauft.
          p Er lernte Gismo, Panda, Lucy, Luna und Lynn kennen. Wovon er sein Leben mit Lucy und später Luna und Lynn teilte.
