doctype html

html(lang='en')

  include _partials/head.pug

  body

    include _partials/preloader.pug
    include _partials/menu.pug
    
    div.main
      include _demo/owner.pug

    include _partials/footer.pug
