footer
    span.copyright © zetsubou
  

include ../_partials/image-modal.pug
script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js')
<script>new WOW().init();</script>
script(src='js/script.min.js')
      
