footer
    div.container
        div.row
            div.col-md-4
                h3 
                    span.primary-color W
                    |ugal!
                p Wir sind die kleine Rasselbande aus der Steiermark! Essen, schlafen und quieken können wir!
            div.col-md-4
                h3 
                    span.primary-color M
                    |eet us!
                ul
                    li
                        a(href="/sub.html") Meet the Wugal
                    li
                        a(href="/owner.html") Meet the Gurkenspender
                    li
                        a(href="/") Übersicht
            div.col-md-4
                h3 
                    span.primary-color F
                    |ollow Us!
                p
                    a(href="https://www.instagram.com/meerwugal/" target="_blank")
                        i.fa.fa-instagram
                    
    span.copyright © wugal.at 2018
    
  

include ../_partials/image-modal.pug
script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js')
script(src='js/lightgallery.js')
<script>new WOW().init();</script>
script(src='js/script.min.js')
      
