<!-- https://codepen.io/JoseRosario/pen/BWqMwK -->
div.wrapper-menu
    div.line-menu.half.start
    div.line-menu
    div.line-menu.half.end
                
nav.main-menu
    ul
        li
            a(href="/sub.html#fynn")
                div.piggy-icon.fynn
                span Fynn
        li
            a(href="/sub.html#gismo") 
                div.piggy-icon.gismo 
                span Gismo
        li
            a(href="/sub.html#krumel") 
                div.piggy-icon.krumel
                span Krümel
        li
            a(href="/sub.html#lucy")
                div.piggy-icon.lucy 
                span Lucy
        li
            a(href="/sub.html#luna")
                div.piggy-icon.luna 
                span Luna
        li
            a(href="/sub.html#lyn")
                div.piggy-icon.lyn 
                span Lyn
        li
            a(href="/sub.html#panda")
                div.piggy-icon.panda 
                span Panda
        li
            a(href="/sub.html#paula")
                div.piggy-icon.paula 
                span Paula
        li
            a(href="/sub.html#sheela")
                div.piggy-icon.sheela
                span Sheela
