<!-- https://codepen.io/JoseRosario/pen/BWqMwK -->
div.wrapper-menu
  div.line-menu.half.start
  div.line-menu
  div.line-menu.half.end

nav.main-menu
  ul
    li
      a(href="#") 
        div.piggy-icon.gismo 
        span Gismo
    li
      a(href="#") 
        div.piggy-icon.krumel
        span Krümel
    li
      a(href="#")
        div.piggy-icon.lucy 
        span Lucy
    li
      a(href="#")
        div.piggy-icon.luna 
        span Luna
    li
      a(href="#")
        div.piggy-icon.lyn 
        span Lyn
    li
      a(href="#")
        div.piggy-icon.panda 
        span Panda
    li
      a(href="#")
        div.piggy-icon.paula 
        span Paula
    li
      a(href="#")
        div.piggy-icon.sheela
        span Sheela
