<!-- https://codepen.io/JoseRosario/pen/BWqMwK -->
div.wrapper-menu
  div.line-menu.half.start
  div.line-menu
  div.line-menu.half.end

nav.main-menu
  ul
    li
      a(href="#") Krümel
    li
      a(href="#") Luna
    li
      a(href="#") Lyn
    li
      a(href="#") Panda
    li
      a(href="#") Paula
    li
      a(href="#") Sheela
